<!-- BEGIN: CONTAINER -->
<table class="container container_main" cellpadding="0" cellspacing="0" border="0" width="100%" style="border-collapse: collapse; min-width: 100%; direction: ltr;" role="presentation" bgcolor="#fefcf6">
  <tbody>
    <tr>
      <th valign="top" style="mso-line-height-rule: exactly;"><center style="width: 100%;">
        <table border="0" width="620" cellpadding="0" cellspacing="0" align="center" style="width: 620px; min-width: 620px; max-width: 620px; direction: ltr; margin: auto;" class="email-container" role="presentation">
          <tbody>
            <tr>
              <th valign="top" class="container_border" style="mso-line-height-rule: exactly;"><!-- BEGIN : SECTION : MAIN -->
              <table class="sections_container main" data-id="main" id="section-main" border="0" width="100%" cellpadding="0" cellspacing="0" align="center" style="min-width: 100%; direction: ltr;" role="presentation" bgcolor="#fefcf6">
                <tbody>
                  <tr>
                    <td class="" style="mso-line-height-rule: exactly;" bgcolor="#fefcf6">
                      <table border="0" width="100%" cellpadding="0" cellspacing="0" align="center" style="min-width: 100%; direction: ltr;" id="mixContainer" role="presentation">
                        <tbody>

                          <!-- BEGIN SECTION: Heading -->
                          <tr id="section-26492906" class="section heading">
                            <th class="section_border" style="mso-line-height-rule: exactly; padding: 8px 30px;" bgcolor="#fefcf6">
                              <table border="0" width="100%" cellpadding="0" cellspacing="0" align="center" style="min-width: 100%; direction: ltr;" role="presentation">
                                <tbody>
                                  <tr>
                                    <th class="section_content" style="mso-line-height-rule: exactly; padding: 8px 30px;" bgcolor="#fefcf6" valign="top">
                                      <table cellspacing="0" cellpadding="0" border="0" width="100%" role="presentation" style="direction: ltr;">
                                        <tbody>
                                          <tr>
                                            <th style="mso-line-height-rule: exactly;" bgcolor="#fefcf6" valign="top">
                                              <h1 data-key="26492906_heading" style="font-family: -apple-system,BlinkMacSystemFont,'Segoe UI',Arial,'Poppins'; font-size: 30px; line-height: 58px; font-weight: 500; color: #2e2a39; text-transform: none; letter-spacing: 1.5px; margin: 0;" align="center">アカウント確認のお知らせ</h1>
                                            </th>
                                          </tr>
                                        </tbody>
                                      </table>
                                    </th>
                                  </tr>
                                </tbody>
                              </table>
                            </th>
                          </tr>
                          <!-- END SECTION: Heading --> <!-- BEGIN SECTION: Introduction -->
                          <tr id="section-26492907" class="section introduction">
                            <th class="section_border" style="mso-line-height-rule: exactly; padding: 8px 30px;" bgcolor="#fefcf6">
                              <table border="0" width="100%" cellpadding="0" cellspacing="0" align="center" style="min-width: 100%; direction: ltr;" role="presentation">
                                <tbody>
                                  <tr>
                                    <th class="section_content" style="mso-line-height-rule: exactly; padding: 8px 30px;" bgcolor="#fefcf6" valign="top">{% if customer.first_name != blank or billing_address.first_name != blank %}
                                      <p style="mso-line-height-rule: exactly; direction: ltr; font-family: -apple-system,BlinkMacSystemFont,'Segoe UI',Arial,'Poppins'; font-size: 15px; line-height: 30px; font-weight: 300; text-transform: none; color: #000000; margin: 0;" align="left"> {{ customer.first_name | default: billing_address.first_name }}<span data-key="26492907_greeting_text" style="text-align: left; direction: ltr; font-family: -apple-system,BlinkMacSystemFont,'Segoe UI',Arial,'Poppins'; font-size: 15px; line-height: 30px; font-weight: 300; text-transform: none; color: #000000;"> 様 </span>,</p>
                                    {% endif %}
                                    <p style="mso-line-height-rule: exactly; direction: ltr; font-family: -apple-system,BlinkMacSystemFont,'Segoe UI',Arial,'Poppins'; font-size: 15px; line-height: 30px; font-weight: 300; text-transform: none; color: #000000; margin: 15px 0 0;" align="left">ようこそ、アカウントの登録が完了し、ご利用いただけるようになりました！</p>
                                  </th>
                                </tr>
                              </tbody>
                            </table>
                          </th>
                        </tr>
                        <!-- END SECTION: Introduction --> <!-- BEGIN SECTION: Button -->
                        <tr id="section-26492908" class="section button">
                          <th class="section_border" style="mso-line-height-rule: exactly; padding: 0 30px 8px;" bgcolor="#fefcf6">
                            <table border="0" width="100%" cellpadding="0" cellspacing="0" align="center" style="min-width: 100%; direction: ltr;" role="presentation">
                              <tbody>
                                <tr>
                                  <th class="section_content" style="mso-line-height-rule: exactly; padding: 8px 30px;" bgcolor="#fefcf6" valign="top">
                                    <table cellspacing="0" cellpadding="0" border="0" width="100%" role="presentation" style="direction: ltr;">
                                      <tbody>
                                        <tr>
                                          <th class="sides column_text_before_button" data-key="26492908_text_before_button" style="mso-line-height-rule: exactly; direction: ltr; font-family: -apple-system,BlinkMacSystemFont,'Segoe UI',Arial,'Poppins'; font-size: 15px; line-height: 30px; font-weight: 300; text-transform: none; color: #000000; padding-bottom: 15px;" align="left" bgcolor="#fefcf6" valign="top">次回からはログインすることで、スムーズにお買い物をお楽しみいただけます。</th>
                                        </tr>
                                        <!-- Button : BEGIN -->
                                        <tr>
                                          <th class="sides column_button button5" style="mso-line-height-rule: exactly; margin: 0; padding: 15px 0;" align="center" bgcolor="#fefcf6" valign="top">
                                            <table cellspacing="0" cellpadding="0" border="0" class="button" role="presentation" style="direction: ltr; text-align: center; margin: 0 auto;" bgcolor="transparent">
                                              <tbody>
                                                <tr>
                                                  <th class="button-inner" style="mso-line-height-rule: exactly; border-radius: 1px;" align="center" bgcolor="#000000" valign="top"><a class="button-link" href="{% capture link %}{{shop.url}}{% endcapture %}{% if link contains shop.domain %}{% assign split_link = link | split: question_mark %}{{ split_link[0] }}?{{ default_utms }}&amp;utm_content=button&amp;utm_term=shop-now{% if split_link[1] != blank %}&amp;{{ split_link[1] }}{% endif %}{% else %}{{ link }}{% endif %}" style="color: #fefcf6 !important; text-decoration: none !important; text-underline: none; word-wrap: break-word; line-height: 15px; font-family: -apple-system,BlinkMacSystemFont,'Segoe UI',Arial,'Poppins'; font-size: 15px; font-weight: 500; text-transform: none; text-align: center; display: block; background-color: #000000; border-radius: 1px; padding: 1px 20px; border: 15px solid #000000;" target="_blank"><span class="text-on-button" style="line-height: 15px; color: #fefcf6; font-weight: 500; text-decoration: none; text-underline: none; letter-spacing: 0.5px;"><!-- [if mso]>&nbsp;&nbsp;&nbsp;&nbsp;<![endif]--><span class="text-on-button-inner" data-key="26492908_text_on_button" style="line-height: 15px; color: #fefcf6; font-weight: 500; text-decoration: none; text-underline: none; letter-spacing: 0.5px;"> 今すぐショッピングを始める</span><!-- [if mso]>&nbsp;&nbsp;&nbsp;&nbsp;<![endif]--></span></a></th>
                                                </tr>
                                              </tbody>
                                            </table>
                                          </th>
                                        </tr>
                                        <!-- Button : END --></tbody>
                                      </table>
                                    </th>
                                  </tr>
                                </tbody>
                              </table>
                            </th>
                          </tr>
                          <!-- END SECTION: Button --> <!-- BEGIN SECTION: Closing Text -->
                          <tr id="section-26492909" class="section closing_text">
                            <th class="section_border" style="mso-line-height-rule: exactly; padding: 8px 30px;" bgcolor="#fefcf6">
                              <table border="0" width="100%" cellpadding="0" cellspacing="0" align="center" style="min-width: 100%; direction: ltr;" role="presentation">
                                <tbody>
                                  <tr>
                                    <th data-key="26492909_closing_text" class="section_content text" style="mso-line-height-rule: exactly; direction: ltr; font-family: -apple-system,BlinkMacSystemFont,'Segoe UI',Arial,'Poppins'; font-size: 15px; line-height: 30px; font-weight: 300; text-transform: none; color: #000000; padding: 8px 30px;" align="left" bgcolor="#fefcf6" valign="top">ご不明な点やご質問がございましたら、どうぞお気軽に&nbsp;<a href="mailto: contact.jp@adamlippes.com" style="color: #000000 !important; text-decoration: none !important; text-underline: none; word-wrap: break-word; border-bottom-width: 1px; border-bottom-color: #5f5f5f; border-bottom-style: solid;"> contact.jp@adamlippes.com</a>&nbsp;までご連絡くださいませ。
                                    <p style="mso-line-height-rule: exactly; direction: ltr; font-family: -apple-system,BlinkMacSystemFont,'Segoe UI',Arial,'Poppins'; font-size: 15px; line-height: 30px; font-weight: 300; text-transform: none; color: #000000; margin: 0;" align="left"><br></p>
                                  <br> 今後ともアダム・リペスをご愛顧いただけますと幸いです。　<br> アダム・リペス オンラインショップ</th>
                                </tr>
                              </tbody>
                            </table>
                          </th>
                        </tr>
                        <!-- END SECTION: Closing Text --> <!-- BEGIN SECTION: Recommended Products -->
                        <tr id="section-26492910" class="section recommended_products">
                          <th class="section_border" style="mso-line-height-rule: exactly; padding: 0 30px; border: none;" bgcolor="#fefcf6">{% assign recommended_products = shop.metafields.orderlyemails.related_products %} {% unless recommended_products == "&nbsp;" %} {% assign recommended_products = recommended_products | split: "||product||" %} {% assign current_line_items = "" %} {% if line_items != blank %} {% for line_item in line_items %} {% assign current_line_items = current_line_items | append: line_item.product_id | append: "|" %} {% endfor %} {% endif %} {% assign current_line_items = current_line_items | split: "|" %} {% assign number_available = 0 %} {% for product in recommended_products %} {% assign product_details = product | split: "||prop||" %} {% unless current_line_items contains product_details[1] %} {% assign number_available = number_available | plus: 1 %} {% endunless %} {% endfor %} {% assign rows_left = 0 %} {% if number_available &gt;= 2 %}{% assign rows_left = 1 %}{% endif %} {% if rows_left &gt; 0 %} {% endif %} {% endunless %}
                          <table border="0" width="100%" cellpadding="0" cellspacing="0" align="center" style="min-width: 100%; direction: ltr;" role="presentation">
                            <tbody>
                              <tr>
                                <th class="section_content" style="mso-line-height-rule: exactly; border-radius: 24px; padding: 30px; border: none #fefcf6;" bgcolor="#fefcf6" valign="top">
                                  <table cellspacing="0" cellpadding="0" border="0" width="100%" role="presentation" style="direction: ltr; border: #fefcf6;" bgcolor="#fefcf6">
                                    <tbody>
                                      <tr style="border: #fefcf6;" bgcolor="#fefcf6">
                                        <th class="related_products_title" style="mso-line-height-rule: exactly; padding: 15px 30px 30px; border: none #fefcf6;" bgcolor="#fefcf6" valign="top">
                                          <h1 data-key="26492910_title" style="font-family: -apple-system,BlinkMacSystemFont,'Segoe UI',Arial,'Poppins'; font-size: 30px; line-height: 58px; font-weight: 500; color: #2e2a39; text-transform: none; letter-spacing: 1.5px; background-color: #fefcf6 !important; margin: 0; border: #fefcf6;" align="center">人気アイテム</h1>
                                        </th>
                                      </tr>
                                      <tr style="border: #fefcf6;" bgcolor="#fefcf6">
                                        <th class="related_products" style="mso-line-height-rule: exactly; border: none #fefcf6;" bgcolor="#fefcf6" valign="top">{% for product in recommended_products %} {% assign product_details = product | split: "||prop||" %} {% if current_line_items contains product_details[1] %} {% continue %} {% endif %} {% unless rows_left == 0 %} {% capture thecycle %}{% cycle '1', '2' %}{% endcapture %} {% if thecycle == '1' %} {% endif %} {% if thecycle == '2' %} {% assign rows_left = rows_left | minus: 1 %} {% endif %} {% endunless %} {% endfor %}
                                        <table border="0" width="100%" cellpadding="0" cellspacing="0" style="direction: ltr; border: #fefcf6;" bgcolor="#fefcf6">
                                          <tbody>
                                            <tr style="border: #fefcf6;" bgcolor="#fefcf6">
                                              <th class="related_product_wrapper {% if thecycle == '1' %}first{% else %}last{% endif %}" width="50%" style="width: 50%; mso-line-height-rule: exactly; border-bottom-width: 15px; margin: 0 auto; padding: 0; border: none #fefcf6;" align="center" bgcolor="#fefcf6" valign="top">
                                              <table border="0" width="100%" cellpadding="0" cellspacing="0" role="presentation" style="direction: ltr; border-collapse: separate !important; border-radius: 24px; border: #fefcf6;" bgcolor="#fefcf6">
                                                <tbody>
                                                  <tr style="border: #fefcf6;" bgcolor="#fefcf6">
                                                    <th class="related_product_image_wrapper" width="200" valign="middle" style="mso-line-height-rule: exactly; border-top-left-radius: 24px; border-top-right-radius: 24px; padding: 30px 30px 0; border: none #fefcf6;" align="center" bgcolor="#fefcf6"><a class="related_product_link" href="{% capture link %}{{shop.url}}/products/{{ product_details[2] }}{% endcapture %}{% if link contains shop.domain %}{% assign split_link = link | split: question_mark %}{{ split_link[0] }}?{{ default_utms }}&amp;utm_content=recommended-product&amp;utm_term={{ product_details[2] }}{% if split_link[1] != blank %}&amp;{{ split_link[1] }}{% endif %}{% else %}{{ link }}{% endif %}" style="color: #000000 !important; text-decoration: none !important; text-underline: none; word-wrap: break-word; border-bottom-width: 1px; border-bottom-color: #5f5f5f; border: none;" target="_blank"> <img width="200" class="related_product_image" src="{{ product_details[4] | remove: '_240x240_cropped' | append: '&amp;width=450'}}" alt="{{ product_details[0] }}" style="background-color: #fefcf6 !important; width: 200px; max-width: 200px !important; height: auto !important; border-radius: 0px; border: #fefcf6;"> </a></th>
                                                  </tr>
                                                  <tr style="border: #fefcf6;" bgcolor="#fefcf6">
                                                    <th height="70" valign="top" class="related_product_link_wrapper" style="mso-line-height-rule: exactly; border-bottom-left-radius: 24px; border-bottom-right-radius: 24px; padding: 30px; border: none #fefcf6;" align="center" bgcolor="#fefcf6"><a class="related_product_link" href="{% capture link %}{{shop.url}}/products/{{ product_details[2] }}{% endcapture %}{% if link contains shop.domain %}{% assign split_link = link | split: question_mark %}{{ split_link[0] }}?{{ default_utms }}&amp;utm_content=recommended-product&amp;utm_term={{ product_details[2] }}{% if split_link[1] != blank %}&amp;{{ split_link[1] }}{% endif %}{% else %}{{ link }}{% endif %}" style="color: #000000 !important; text-decoration: none !important; text-underline: none; word-wrap: break-word; border-bottom-width: 1px; border-bottom-color: #5f5f5f; border: none;" target="_blank">
                                                    <p style="mso-line-height-rule: exactly; direction: ltr; font-family: -apple-system,BlinkMacSystemFont,'Segoe UI',Arial,'Poppins'; font-size: 15px; line-height: 30px; font-weight: 300; text-transform: none; color: #2e2a39; background-color: #fefcf6 !important; margin: 0; border: #fefcf6;" align="center">{{ product_details[0] }}</p>
                                                    <p data-key="26492910_link_text" class="related_product_link_text" style="mso-line-height-rule: exactly; direction: ltr; font-family: -apple-system,BlinkMacSystemFont,'Segoe UI',Arial,'Poppins'; font-size: 13px; line-height: 30px; font-weight: 400; text-transform: none; color: #5f5f5f; background-color: #fefcf6 !important; margin: 15px 0 0; border: #fefcf6;" align="center">今すぐショッピングを始める&gt;</p>
                                                  </a></th>
                                                </tr>
                                              </tbody>
                                            </table>
                                          </th>
                                        </tr>
                                      </tbody>
                                    </table>
                                  </th>
                                </tr>
                              </tbody>
                            </table>
                          </th>
                        </tr>
                      </tbody>
                    </table>
                  </th>
                </tr>
                <!-- END SECTION: Recommended Products --></tbody>
              </table>
            </td>
          </tr>
        </tbody>
      </table>
      <!-- END : SECTION : MAIN --></th>
    </tr>
  </tbody>
</table>
</center></th>
</tr>
</tbody>
</table>
<!-- END : CONTAINER -->
