 <!-- BEGIN: CONTAINER -->
            <table class="container container_header" cellpadding="0" cellspacing="0" border="0" width="100%" style="border-collapse: collapse; min-width: 100%; direction: ltr;" role="presentation" bgcolor="#fefcf6">
              <tbody>
                <tr>
                  <th valign="top" style="mso-line-height-rule: exactly;">
                    <center style="width: 100%;">
                      <table border="0" width="620" cellpadding="0" cellspacing="0" align="center" style="width: 620px; min-width: 620px; max-width: 620px; direction: ltr; Margin: auto;" class="email-container" role="presentation">
                        <tbody>
                          <tr>
                            <th valign="top" class="container_border" style="mso-line-height-rule: exactly;">
                              <!-- BEGIN : SECTION : HEADER -->
                              <table class="sections_container header" data-id="header" id="section-header" border="0" width="100%" cellpadding="0" cellspacing="0" align="center" style="min-width: 100%; direction: ltr;" role="presentation" bgcolor="#fefcf6">
                                <tr>
                                  <td class="" style="mso-line-height-rule: exactly;" bgcolor="#fefcf6">
                                    <table border="0" width="100%" cellpadding="0" cellspacing="0" align="center" style="min-width: 100%; direction: ltr;" role="presentation">
                                      <tr>
                                        <th class="section_border" style="mso-line-height-rule: exactly; padding: 30px 30px 0px;" bgcolor="#fefcf6">
                                          <table border="0" width="100%" cellpadding="0" cellspacing="0" align="center" style="min-width: 100%; direction: ltr;" role="presentation">
                                            <tr>
                                              <th class="column_logo section_content" style="mso-line-height-rule: exactly; padding: 8px 30px;" align="center" bgcolor="#fefcf6">
                                                <!-- Logo : BEGIN -->
                                                <a data-container-width="303 620" href="{% capture link %}https://adamlippes.jp/{% endcapture %}{% if link contains shop.domain %}{% assign split_link = link | split: question_mark %}{{ split_link[0] }}?{{ default_utms }}&utm_content=logo{% if split_link[1] != blank %}&{{ split_link[1] }}{% endif %}{% else %}{{ link }}{% endif %}" target="_blank" style="color: #c3c3c3; text-decoration: none !important; text-underline: none;">
                                                  <img src="https://cdn.filestackcontent.com/api/file/FxwHVFpRFydsyrdBODLy/convert?fit=max&w=303" class="logo logo-center logo-mobile-center " width="151" border="0" style="width: 151px; height: auto !important; display: block; Margin: 0 auto;">
                                                </a>
                                                <!-- Logo : END -->
                                              </th>
                                            </tr>
                                          </table>
                                        </th>
                                      </tr>
                                    </table>
                                  </td>
                                </tr>
                              </table>
                              <!-- END : SECTION : HEADER -->
                            </th>
                          </tr>
                        </tbody>
                      </table>
                    </center>
                  </th>
                </tr>

                <tr data-id="link-list" class="section">
                  <td class="menu_bar menu_bar_1" style="mso-line-height-rule: exactly; padding: 30px 0;" bgcolor="#fefcf6">
                    <table class="table_menu_bar" border="0" width="100%" cellpadding="0" cellspacing="0" role="presentation" style="direction: ltr;">
                      <tr>
                        <th class="menu_bar_item first" style="width: 33%; mso-line-height-rule: exactly; font-family: -apple-system,BlinkMacSystemFont,'Segoe UI',Arial,'Poppins'; color: #2e2a39; font-size: 14px; line-height: 34px; font-weight: 500; text-transform: none; letter-spacing: 1.5px; border-right-width: 1px; border-right-color: #f8ecc8; border-left-width: 1px; border-left-color: #f8ecc8; border: none;" align="center" bgcolor="#fefcf6">
                          <a href="{% capture link %}https://adamlippes.jp/collections/woman-view-all{% endcapture %}{% if link contains shop.domain %}{% assign split_link = link | split: question_mark %}{{ split_link[0] }}?{{ default_utms }}&utm_content=site-link&utm_term=shop{% if split_link[1] != blank %}&{{ split_link[1] }}{% endif %}{% else %}{{ link }}{% endif %}" target="_blank" style="color: #000000 !important; text-decoration: none !important; text-underline: none; word-wrap: break-word; border-bottom-width: 1px; border-bottom-color: #5f5f5f; font-family: -apple-system,BlinkMacSystemFont,'Segoe UI',Arial,'Poppins'; font-size: 14px; line-height: 34px; font-weight: 500; text-transform: none; letter-spacing: 1.5px; text-align: center !important; border: none;">
                            ショップ
                          </a>
                        </th>
                        <th class="menu_bar_item" style="width: 33%; mso-line-height-rule: exactly; font-family: -apple-system,BlinkMacSystemFont,'Segoe UI',Arial,'Poppins'; color: #2e2a39; font-size: 14px; line-height: 34px; font-weight: 500; text-transform: none; letter-spacing: 1.5px; border-right-width: 1px; border-right-color: #f8ecc8; border-left-width: 1px; border-left-color: #f8ecc8; border: none;" align="center" bgcolor="#fefcf6">
                          <a href="{% capture link %}https://adamlippes.jp/pages/about-adam-lippes{% endcapture %}{% if link contains shop.domain %}{% assign split_link = link | split: question_mark %}{{ split_link[0] }}?{{ default_utms }}&utm_content=site-link&utm_term=about{% if split_link[1] != blank %}&{{ split_link[1] }}{% endif %}{% else %}{{ link }}{% endif %}" target="_blank" style="color: #000000 !important; text-decoration: none !important; text-underline: none; word-wrap: break-word; border-bottom-width: 1px; border-bottom-color: #5f5f5f; font-family: -apple-system,BlinkMacSystemFont,'Segoe UI',Arial,'Poppins'; font-size: 14px; line-height: 34px; font-weight: 500; text-transform: none; letter-spacing: 1.5px; text-align: center !important; border: none;">
                            アダム リペスについて
                          </a>
                        </th>
                        <th class="menu_bar_item last" style="width: 33%; mso-line-height-rule: exactly; font-family: -apple-system,BlinkMacSystemFont,'Segoe UI',Arial,'Poppins'; color: #2e2a39; font-size: 14px; line-height: 34px; font-weight: 500; text-transform: none; letter-spacing: 1.5px; border-right-width: 1px; border-right-color: #f8ecc8; border-left-width: 1px; border-left-color: #f8ecc8; border: none;" align="center" bgcolor="#fefcf6">
                          <a href="mailto:contact.jp@adamlippes.com " target="_blank" style="color: #000000 !important; text-decoration: none !important; text-underline: none; word-wrap: break-word; border-bottom-width: 1px; border-bottom-color: #5f5f5f; font-family: -apple-system,BlinkMacSystemFont,'Segoe UI',Arial,'Poppins'; font-size: 14px; line-height: 34px; font-weight: 500; text-transform: none; letter-spacing: 1.5px; text-align: center !important; border: none;">
                            お問い合わせ
                          </a>
                        </th>
                      </tr>
                    </table>
                  </td>
                </tr>
              </tbody>
            </table>
            <!-- END : CONTAINER -->
