<!-- /sections/section-collection-submenu.liquid -->

<div class="section-columns {{ section.settings.bg }}"
  data-section-id="{{ section.id }}"
  data-section-type="section-columns"
  style="--PT: {{ section.settings.padding_top }}px; --PB: {{ section.settings.padding_bottom }}px;">
  <div class="{{ section.settings.width }} section-padding">
    {% if section.settings.title != blank %}
      <h2 class="kicker-flourished mb-7">{{ section.settings.title | escape }}</h2>
    {% endif %}
    <div
      data-grid
      data-grid-flex
      data-grid-large
      data-grid-medium
      data-grid-small
      data-custom-scrollbar-items
      style="
        --grid-large-items: {{ section.settings.grid_large }};
        --grid-medium-items: {{ section.settings.grid_medium }};
        --grid-small-items: {{ section.settings.grid_mobile }};">
      {% assign linklist = linklists[section.settings.menu] %}
      
      {% for link in linklist.links %}
        <div
          class="index__column grid__item slide-item {{ section.settings.align_text }}"
          data-item
          {{ section.shopify_attributes | append: forloop.index }}>
          <a href="{{ link.url }}" class="accent-title-large strong mb2">{{ link.title }}</a>
        </div>
      {% endfor %}
    </div>
    {%- if section.settings.progress_bar_mobile -%}
      <div class="custom-scrollbar small-down--show" data-custom-scrollbar>
        <div class="custom-scrollbar__track" data-custom-scrollbar-track></div>
      </div>
    {%- endif -%}
  </div>
</div>

{% schema %}
  {
    "name": "Collection submenu",
    "class": "collection-submenu",
    "settings": [
      {
        "type": "text",
        "id": "menu",
        "label": "Menu"
      },
      {
        "type": "text",
        "id": "title",
        "label": "Kicker",
        "default": "Collection submenu"
      },
      {
        "type": "select",
        "id": "bg",
        "label": "Background color",
        "default": "palette--light bg--neutral",
        "options": [
          { "value": "palette--light bg--neutral", "label": "Default"},
          { "value": "palette--light bg--accent", "label": "Light"},
          { "value": "palette--dark bg--invert", "label": "Dark"},
          { "value": "palette--dark bg--invert--accent", "label": "Dark accent"},
          { "value": "palette--bright bg--bright", "label": "Bright"},
          { "value": "palette--bright bg--bright--accent", "label": "Bright accent"}
        ]
      },
      {
        "type": "select",
        "id": "align_text",
        "label": "Text alignment",
        "default": "text-center",
        "options": [
          {
            "value": "text-left",
            "label": "Left"
          },
          {
            "value": "text-center",
            "label": "Centered"
          },
          {
            "value": "text-right",
            "label": "Right"
          }
        ]
      },
      {
        "type": "header",
        "content": "Items per row"
      },
      {
        "type":    "range",
        "id":      "grid_large",
        "min":     3,
        "max":     6,
        "step":    1,
        "label":   "Desktop",
        "default": 3
      },
      {
        "type":    "range",
        "id":      "grid_medium",
        "min":     1,
        "max":     4,
        "step":    1,
        "label":   "Tablet",
        "default": 3
      },
      {
        "type":    "range",
        "id":      "grid_mobile",
        "min":     1,
        "max":     3,
        "step":    0.1,
        "label":   "Mobile",
        "default": 1.2
      },
      {
        "type": "checkbox",
        "id": "progress_bar_mobile",
        "label": "Show mobile scrollbar",
        "default": false
      },
      {
        "type": "header",
        "content": "Section spacing"
      },
      {
        "type": "select",
        "id": "width",
        "label": "Width",
        "default": "wrapper",
        "options": [
          { "value": "wrapper--full", "label": "Full width padded" },
          { "value": "wrapper", "label": "Page width" },
          { "value": "wrapper--narrow", "label": "Page width narrow" },
          { "value": "wrapper--tiny", "label": "Page width extra narrow" }
        ]
      },
      {
        "type": "range",
        "id": "padding_top",
        "min": 0,
        "max": 180,
        "step": 2,
        "unit": "px",
        "label": "Padding top",
        "default": 36
      },
      {
        "type": "range",
        "id": "padding_bottom",
        "min": 0,
        "max": 180,
        "step": 2,
        "unit": "px",
        "label": "Padding bottom",
        "default": 36
      }
    ],
    "presets": [
      {
        "name": "Collection submenu",
        "category": "Text"
      }
    ],
    "disabled_on": {
      "groups": ["header","aside"]
    }
  }
{% endschema %}
