<table role="presentation" width="100%" bgcolor="#FEFCF6" style="background-color: #FEFCF6;" cellpadding="0" cellspacing="0" border="0">

    <tr>
      <td width="10">&nbsp;</td>
      <td width="100%" valign="top" style="padding-top: 45px;">
        <table role="presentation" aria-hidden="true" cellspacing="0" cellpadding="0" border="0" align="center"
          class="container" width="100%" style="max-width: 600px;">
          <tr>
            <td valign="top" width="100%">
              <table cellspacing="0" cellpadding="0" border="0" width="100%">
                <!-- Top section -->
                <tr>
                  <td valign="top" width="100%">
                    <table cellspacing="0" cellpadding="0" border="0" width="100%">
                      <!-- Header -->
                      <tr>
                        <td width="100%" valign="top">
                          <table cellspacing="0" cellpadding="0" border="0" width="100%">
                            <tr>
                              <td align="left"
                                style="font-size: 24px; line-height: 32px; color: #222222; text-align: left; font-weight: 500;"
                                width="60%">{{image}}</td>
                              <td align="right"
                                style="font-size: 16px; line-height: 28px; color: #999999; text-align: right; text-transform: uppercase;"
                                width="40%">Order {{order}}</td>
                            </tr>
                          </table>
                        </td>
                      </tr>
                      <!-- //End Header -->

                      <!-- Thank you text -->
                      <tr>
                        <td valign="top" width="100%" style="padding-top: 24px;">
                          <h1
                            style="font-size: 42px; line-height: 63px; text-align:left; color: #222222; font-weight: 600; display: block; margin: 0;">
                            One or more of your returned products have been rejected.</h1>
                          {% if rejected_line_items.size > 0 %}
                          <div style="padding-top: 12px; padding-bottom: 12px;">
                            <p
                              style="padding-bottom: 12px; margin-top: 0; font-size: 24px; line-height: 36px; color: #4A4E5A;">
                              Rejected items can be found below. Any approved items have
                              been processed as normal.</p>
                            <p
                              style="padding-bottom: 0; margin-top: 0; font-size: 24px; line-height: 36px; color: #4A4E5A;">
                              {{line_item_rejection_comment}}</p>
                            <ul style="padding-left: 0;">
                              {% for item in rejected_line_items %}
                              <li style="margin: 12px 0; list-style: none;">
                                <table cellspacing="0" cellpadding="0" border="0"
                                  width="100%"
                                  style="display: inline-block; padding-top: 6px;">
                                  <tr>
                                    <td style="padding-right: 16px;">
                                      <img src="{{item.image}}"
                                        alt="{{item.title}}"
                                        style="height: 72px; width: 72px; object-fit: cover;" />
                                    </td>
                                    <td>
                                      <div
                                        style="display: flex; flex-direction: row; justify-content: center; align-items: center;">
                                        <p
                                          style="color: #212B36; font-size: 16px; font-weight: 500; margin: 0; padding-right: 8px;">
                                          {{item.title}}
                                        </p>
                                        <p
                                          style="padding: 2px 8px 2px 8px; font-size: 12px; font-weight: 400; border-radius: var(--Radius-round, 360px); margin: 0; background: #FBEAE8">
                                          Rejected
                                        </p>
                                      </div>
                                      <p
                                        style="color: #737A80; font-size: 15px; font-weight: 400; margin: 0;">
                                        {{item.variant_title}}
                                      </p>
                                      <p
                                        style="color: #737A80; font-size: 15px; font-weight: 400; margin: 0;">
                                        {{item.formatted_price}}
                                      </p>
                                    </td>
                                    <!-- <td>
                                      <p style="
                                      display: flex;
                                      padding: 2px;
                                        justify-content: center;
                                        align-items: center;
                                        gap: 6px;
                                        /* position: absolute;  */
                                        top: 5px;
                                        border-radius: var(--Radius-round,
                                        360px);
                                        background: #FBEAE8;
                                      ">
                                        Rejected
                                      </p>
                                    </td> -->
                                  </tr>
                                </table>
                                {% if forloop.last == false %}
                                <hr
                                  style="border-top: 1px solid #dddddd; border-bottom: none;">
                                {% endif %}
                              </li>
                              {% endfor %}
                            </ul>
                          </div>
                          {% endif %}
                        </td>
                      </tr>
                      <!-- //End Thank you text -->

                      <!-- Status page button -->
                      <tr>
                        <td width="100%" valign="top" style="padding: 0;">
                          <table style="width:100%;border-spacing:0;border-collapse:collapse">
                            <tbody>
                              <tr>
                                <td>
                                  <table
                                    style="border-spacing:0;border-collapse:collapse;float:left;margin-right:24px">
                                    <tbody>
                                      <tr>
                                        <td style="border-radius:4px"
                                          align="center"
                                          bgcolor="{{primary}}"><a
                                            href="{{status_page_url}}"
                                            title="View your claim"
                                            style="font-size:16px;text-decoration:none;display:block;color:#fff;padding:20px 24px"
                                            target="_blank">View your
                                            return</a></td>
                                      </tr>
                                    </tbody>
                                  </table>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </td>
                      </tr>
                      <!-- // End status page button -->
                    </table>
                  </td>
                </tr>
                <!-- // End top section -->

                <!-- Middle top section -->
                <tr>
                  <td style="padding-bottom: 55px; padding-top: 40px; max-width: 600px" valign="top"
                    width="100%">
                    <table cellspacing="0" cellpadding="0" border="0" width="100%">
                      <!-- Divider -->
                      <tr>
                        <td valign="top" width="100%">
                          <table cellpadding="0" cellspacing="0" border="0" width="100%">
                            <tr>
                              <td width="100%" height="1"
                                style="font-size: 1px; line-height: 1px; border-bottom: 1px solid #dddddd;">
                              </td>
                            </tr>
                          </table>
                        </td>
                      </tr>

                      <!-- Middle section -->
                      <tr>
                        <td width="100%" style="padding-top: 40px; padding-bottom: 40px;"
                          valign="top">
                          <table cellspacing="0" cellpadding="0" border="0" width="100%">
                            <tr>
                              <td style="text-align: center">
                                If you have any questions, reply to this email or
                                contact us at <a href="mailto:{{support_email}}"
                                  style="text-decoration: none; color: {{primary}};">{{support_email}}</a>
                              </td>
                            </tr>
                          </table>
                        </td>
                      </tr>
                      <!-- //End Middle section -->

                      <!-- Divider -->
                      <tr>
                        <td width="100%" valign="top">
                          <table cellpadding="0" cellspacing="0" border="0" width="100%">
                            <tr>
                              <td width="100%" height="1"
                                style="font-size: 1px; line-height: 1px; border-bottom: 1px solid #dddddd;">
                              </td>
                            </tr>
                          </table>
                        </td>
                      </tr>

                      <!-- Footer section -->
                      <tr>
                        <td style="padding-top: 40px; padding-bottom: 40px;" valign="top"
                          width="100%">
                          <table cellspacing="0" cellpadding="0" border="0" width="100%">
                            <tr>
                              <td style="text-align: center;">
                                <p style="margin: 0; display: block;">Copyright © <span
                                    id="year">{{current_year}}</span> {{shop_name}}.
                                  All rights reserved.</p>
                                <p style="margin: 0; display: block;">Powered by <a
                                    href="https://loopreturns.com/"
                                    style="display: inline-block; vertical-align: middle;"><img
                                      src="http://admin.loopreturns.com/img/loop.png"
                                      alt="Loop" style="display: block;"></a></p>
                              </td>
                            </tr>
                          </table>
                        </td>
                      </tr>
                      <!-- End top section -->
                    </table>
                  </td>
                </tr>
              </table>
            </td>
            <td width="10">&nbsp;</td>
          </tr>
        </table>
      </td>
    </tr>
  </table>

